@page "/Posts"
@using Telerik.SvgIcons
@using TelerikBlazorSample.Posts

@inject IPostAppService PostAppService

<TelerikRootComponent>
    <h3>Posts</h3>

    <TelerikGrid Data="@GridData"
                 OnUpdate="@UpdateHandler"
                 OnDelete="@DeleteHandler"
                 OnCreate="@CreateHandler"
                 @ref="@Grid"
                 Pageable="true"
                 Groupable="true"
                 Sortable="true"
                 FilterMode="GridFilterMode.FilterMenu"
                 Resizable="true"
                 Reorderable="true"
                 EditMode="GridEditMode.Popup"
                 SelectionMode="GridSelectionMode.Single"
                 PageSize="5"
                 Navigable="true">
        <GridColumns>
            <GridColumn Field="@nameof(Post.Title)" />
            <GridColumn Field="@nameof(Post.Body)" />
            <GridCommandColumn Width="190px">
                <GridCommandButton Command="Save" Icon="@SvgIcon.Save" ShowInEdit="true">Update</GridCommandButton>
                <GridCommandButton Command="Edit" Icon="@SvgIcon.EditTools">Edit</GridCommandButton>
                <GridCommandButton Command="Delete" Icon="@SvgIcon.TableColumnDelete" Primary="true">Delete</GridCommandButton>
                <GridCommandButton Icon="@SvgIcon.Window" OnClick="(e) => PostDetailAsync(e)">Display Comment</GridCommandButton>
                <GridCommandButton Command="Cancel" Icon="@SvgIcon.Cancel" ShowInEdit="true">Cancel</GridCommandButton>
            </GridCommandColumn>
        </GridColumns>
        <GridToolBarTemplate>
            <GridCommandButton Command="Add" Icon="@SvgIcon.FileAdd">Add Post</GridCommandButton>
        </GridToolBarTemplate>
    </TelerikGrid>

    @* Modal *@
    <TelerikWindow Class="demo-window" Width="500px" Height="250px" Centered="true" @bind-Visible=@ModalVisible Modal="true">
        <WindowTitle>
            <strong>Comment</strong>
        </WindowTitle>
        <WindowActions>
            <WindowAction Name="Close" />
        </WindowActions>
        <WindowContent>
            <p><b>Email:</b> @Comment.Email</p>
            <p>
                <b>Message:</b> @Comment.Body
            </p>
        </WindowContent>
    </TelerikWindow>
</TelerikRootComponent>
